<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>DOM API - insertBefore 활용</title>
  <script src="../../day10/helper.js"></script>
</head>
<body>
  <button type="button" class="insert-action-button">insert after target node</button>
  <button type="button" class="prepend-action-button">insert before target node</button>
  <div class="parent">
    <!-- 삽입 목표 위치 -->
    <p class="target">Lorem ipsum dolor.</p>
  </div>

  <h1 class="insert">Insert Node</h1>

  <script src="../js/dom-api.js"></script>
</body>
</html>
