$light-tan: #fbf1e3;
$light-khaki: #fbf6e4;
$pale-grey: #f6f8f8;
$light-tan-two: #faebd7;
$beige: #faeae9;
$very-light-pink: #fdf8f1;
$pale-grey-two: #eadfe9;
$pale-grey-three: #f2f6f5;
$beige-two: #faebea;
$beige-three: #f7dcd5;
$light-khaki-two: #f8e8da;
$light-tan-three: #fbf3e3;
