<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Node Information</title>
  <link rel="stylesheet" href="../css/node-info.css">
</head>
<body>
  <div id="page">
    <div class="container" title="Bootstrap Style Grid System">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <h1 data-heading-level="1">
            <a href="../css/node-info.css">node-info.css</a>
            <!-- <a
            title="open new tab window"
            target="_blank"
            href="http://fastcampus.com/">FAST CAMPUS</a> -->
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container"></div>
  <div class="container"></div>

<script src="../js/node-info.js"></script>
<script src="../js/dom-method.js"></script>
</body>
</html>
