<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../css/dom-api.css">
  <script src="../../day11/helper.js"></script>
</head>
<body>
  <section class="section-A"
  onmouseover="this.style.background = 'red';"
  onmouseout="this.style.background='';"
  >
  <h1>Section A</h1>
  <ul>
    <li>item a</li>
    <li>item b</li>
    <li>item c</li>
    <li>item d</li>
  </ul>
</section>
<section class="section-B">
  <h1>Section B</h1>
  <ol>
    <li>content A</li>
    <li>content B</li>
    <li>content C</li>
    <li>content D</li>
  </ol>
</section>

<script src="../js/dom-api.js"></script>
</body>
</html>
